/* NavBar */

#header {
  height: 70px;
  background: #fff;
  z-index: 997;
  box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.06);
}
#header .logo h1 {
  font-size: 28px;
  margin: 0;
  padding: 10px 0;
  line-height: 1;
  font-weight: 400;
  letter-spacing: 3px;
  text-transform: uppercase;

}
#header .logo h1 a, #header .logo h1 a:hover {
  color: #1c5c93;
  text-decoration: none;
}
#header .logo img {
  padding: 0;
  margin: 0;
  max-height: 40px;
}

.scrolled-offset {
  margin-top: 70px;
}


/*--------------------------------------------------------------
# Navigation Menu
--------------------------------------------------------------*/
/**
* Desktop Navigation 
*/
.navbar {
  padding: 0;
}
.navbar ul {
  margin: 0;
  padding: 0;
  display: flex;
  list-style: none;
  align-items: center;
}
.navbar li {
  position: relative;
}
.navbar a, .navbar a:focus {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 0 10px 30px;
  font-family: "Open Sans", sans-serif;
  font-size: 15px;
  color: #5c768d;
  white-space: nowrap;
  transition: 0.3s;
}
.navbar a i, .navbar a:focus i {
  font-size: 12px;
  line-height: 0;
  margin-left: 5px;
}
.navbar a:hover, .navbar .active, .navbar .active:focus, .navbar li:hover > a {
  color: #428bca;
}
.navbar .dropdown ul {
  display: block;
  position: absolute;
  left: 14px;
  top: 100%;
  margin: 0;
  padding: 10px 0;
  z-index: 99;
  opacity: 0;
  visibility: hidden;
  background: #fff;
  box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
  transition: 0.3s;
}
.navbar .dropdown ul li {
  min-width: 200px;
}
.navbar .dropdown ul a {
  padding: 10px 20px;
  text-transform: none;
}
.navbar .dropdown ul a i {
  font-size: 12px;
}
.navbar .dropdown ul a:hover, .navbar .dropdown ul .active:hover, .navbar .dropdown ul li:hover > a {
  color: #428bca;
}
.navbar .dropdown:hover > ul {
  opacity: 1;
  visibility: visible;
}
.navbar .dropdown .dropdown ul {
  top: 0;
  left: calc(100% - 30px);
  visibility: hidden;
}
.navbar .dropdown .dropdown:hover > ul {
  opacity: 1;
  top: 0;
  left: 100%;
  visibility: visible;
}
@media (max-width: 1366px) {
  .navbar .dropdown .dropdown ul {
    left: -90%;
  }
  .navbar .dropdown .dropdown:hover > ul {
    left: -100%;
  }
}


/* BUTTON */
.btn-get-started {
  font-family: "Raleway", sans-serif;
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 1px;
  display: inline-block;
  padding: 10px 25px;
  border-radius: 5px;
  transition: 0.5s;
  line-height: 1;
  margin: 10px;
  color: #fff;
  -webkit-animation-delay: 0.8s;
  animation-delay: 0.8s;
  border: 0;
  background: orange;
  text-transform: uppercase;
}
.btn-get-started:hover {
  opacity: 0.7;
}
/* FOOTER */
a {
  -webkit-transition: .3s all ease;
  -o-transition: .3s all ease;
  transition: .3s all ease; }
  a, a:hover {
    text-decoration: none !important; }
.footer-39201 {
  padding: 7rem 0;
  color: #9d9d9d; }
.footer-39201 .subscribe {
    position: relative; }
.footer-39201 .subscribe .form-control {
      background-color: #e6e6e6;
      -webkit-box-shadow: none;
      box-shadow: none;
      border-radius: 30px;
      height: 50px;
      padding-left: 30px;
      padding-right: 130px;
      border: none;
      color: #000; }
.footer-39201 .subscribe .form-control::-webkit-input-placeholder {
        color: #b3b3b3;
        font-style: italic;
        font-size: 14px; }
.footer-39201 .subscribe .form-control::-moz-placeholder {
        color: #b3b3b3;
        font-style: italic;
        font-size: 14px; }
.footer-39201 .subscribe .form-control:-ms-input-placeholder {
        color: #b3b3b3;
        font-style: italic;
        font-size: 14px; }
.footer-39201 .subscribe .form-control:-moz-placeholder {
        color: #b3b3b3;
        font-style: italic;
        font-size: 14px; }
.footer-39201 .subscribe .btn-submit {
      background: #614ad3;
      height: 40px;
      border-radius: 30px;
      padding-left: 30px;
      padding-right: 30px;
      color: #fff;
      font-weight: bold;
      position: absolute;
      top: 5px;
      right: 5px;
      -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
      box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2); }
  .footer-39201 h3 {
    font-size: 16px;
    font-weight: 900;
    color: #000;
    margin-bottom: 20px; }
.footer-39201 .nav-links li {
    display: block;
    margin-bottom: 10px; }
.footer-39201 .nav-links li a {
      color: #9d9d9d; }
.footer-39201 .nav-links li a:hover {
        color: #614ad3; }
.footer-39201 .social li {
    display: inline-block; }
.footer-39201 .social li a {
      display: inline-block;
      padding: 10px;
      color: #9d9d9d; }
.footer-39201 .social li a:hover {
        color: #614ad3; }

/* GO TO TOP */
        .top-to-btm{
          position: relative;
        }
        .icon-position{
          position: fixed;
          bottom: 40px;
          right: 25px;
          z-index: 20;
        }
        .icon-style{
          background-color: #551B54;
          border: 2px solid #fff;
          border-radius: 50%;
          height: 50px;
          width: 50px;
          color: #fff;
          cursor: pointer;
          animation: movebtn 3s ease-in-out infinite;
          transition: all .5s ease-in-out;
        }
        .icon-style:hover{
          animation: none;
          background: #fff;
          color: #551B54;
          border: 2px solid #551B54;
        }
        @keyframes movebtn {
          0%{
            transform: translateY(0px);
          }
          25%{
            transform: translateY(20px);
          }
          50%{
            transform: translateY(0px);
          }
          75%{
            transform: translateY(-20px);
          }
          100%{
            transform: translateY(0px);
          }
        }

/* Header */
.avt {
  width: 50px;
}
.text-primary {
  text-transform: capitalize;
  padding-bottom: 20px;
}
/* NAVBAR */
.nav .nav-item .nav-link:hover,
.nav .nav-item .nav-link:focus {
  background-color: transparent; }
.navbar {
  border: 0;
  font-size: 14px;
  transition: all 0.4s;
  -webkit-transition: all 0.4s;
  padding: 0;
  background: #FFFFFF;
  box-shadow: 0 6px 10px -4px rgba(0, 0, 0, 0.15); }
  .navbar .navbar-brand {
    font-weight: 600;
    margin: 5px 0px;
    padding: 20px 15px;
    font-size: 14px;
    color: lightcoral;
    text-transform: uppercase;
    cursor: pointer; }
  .navbar .navbar-toggler:focus {
    outline: none; }
  .navbar .form-control-feedback {
    padding-left: 0px; }
  .navbar:not([class*="bg"]) .navbar-toggler .navbar-toggler-bar {
    background: #66615B !important; }
  .navbar .navbar-nav .nav-item .nav-link {
    line-height: 1.6;
    margin: 15px 3px;
    padding: 10px 15px;
    opacity: .8;
    font-size: 12px;
    text-transform: capitalize;
    font-weight: 600;
    color: #66615B; }
    .navbar .navbar-nav .nav-item .nav-link p {
      margin: 0px 0px;
      text-transform: uppercase;
      font-weight: 600;
      font-size: 12px;
      line-height: 1.5em;
      padding: 15px 0; }
  .navbar .navbar-nav .nav-item .nav-link.btn {
    margin: 15px 3px;
    padding: 9px; }
  .navbar .navbar-nav .nav-item .nav-link [class^="fa"] {
    font-size: 17px;
    position: relative;
    right: 5px; }
  .navbar .navbar-nav .dropdown-menu {
    border-radius: 12px;
    margin-top: 1px; }
  .navbar .navbar-nav .nav-item .btn i {
    color: #FFFFFF; }
  .navbar .navbar-collapse .nav-item .nav-link p {
    display: inline; }
  .navbar .navbar-collapse .nav-item .dropdown-item i {
    margin: 0 10px;
    margin: 0 10px 0px 5px;
    font-size: 18px;
    position: relative;
    top: 3px; }
  .navbar .navbar-collapse.show .navbar-nav .nav-item {
    padding-right: 10px; }
  .navbar .navbar-collapse:after {
    background-color: #FFFCF5; }
  .navbar #navbarSupportedContent .nav-item {
    position: relative; }
  .navbar .notification-bubble {
    padding: 0.4em 0.6em;
    position: absolute;
    top: 10px;
    right: -2px; }
  .navbar .btn {
    margin: 14px 3px;
    font-size: 12px; }
    .navbar .btn i {
      font-size: 14px;
      position: relative;
      top: 2px; }
  .navbar .btn-simple {
    font-size: 16px; }
  .navbar .caret {
    left: 0;
    right: 0;
    margin-right: auto;
    margin-left: auto;
    position: absolute; }
  .navbar.navbar-transparent {
    background: transparent !important;
    padding-top: 25px;
    box-shadow: none; }
    .navbar.navbar-transparent .navbar-brand {
      color: green; }
    .navbar.navbar-transparent .navbar-nav .nav-item .nav-link {
      color: #FFFFFF; }
    .navbar.navbar-transparent .navbar-toggler .navbar-toggler-bar {
      background: #FFFFFF !important; }
  .navbar .logo-container {
    margin-top: 5px; }
    .navbar .logo-container .logo {
      overflow: hidden;
      border-radius: 50%;
      border: 1px solid #333333;
      width: 50px;
      float: left; }
      .navbar .logo-container .logo img {
        width: 100%; }
    .navbar .logo-container .brand {
      font-size: 18px;
      color: #FFFFFF;
      line-height: 20px;
      float: left;
      margin-left: 10px;
      margin-top: 5px;
      width: 75px;
      height: 50px; }
  .navbar .navbar-toggler .navbar-toggler-bar + .navbar-toggler-bar,
  .navbar .navbar-toggler .navbar-toggler-icon + .navbar-toggler-icon {
    margin-top: 4px; }
  .navbar .navbar-toggler .navbar-toggler-bar {
    background: #FFFFFF !important;
    display: block;
    position: relative;
    width: 24px;
    height: 2px;
    border-radius: 1px;
    margin: 0 auto; }

/* IMG HEADER */
.page-header {
  background-color: #B2AFAB;
  background-position: center center;
  background-size: cover;
  min-height: 30vh;
  max-height: 999px;
  overflow: hidden;
  position: relative;
  width: 100%;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center; }
  .page-header.page-header-small {
    min-height: 65vh !important;
    max-height: 700px; }
  .page-header.page-header-xs {
    min-height: 40vh !important; }
  .page-header.section-dark .content-center,
  .page-header.section-dark .category-absolute {
    z-index: 1; }

/* TITLE HEADER */
.title-brand {
  max-width: 730px;
  margin: 0 auto;
  position: relative;
  text-align: center;
  color: #FFFFFF;
  display: block; }
  .title-brand .type {
    position: absolute;
    font-size: 20px;
    background: #132026;
    padding: 6px 10px;
    border-radius: 4px;
    top: 0;
    font-weight: 600;
    margin-top: 10px;
    right: -15px; }
.presentation-title {
  font-size: 8em;
  font-weight: 700;
  margin: 0;
  color: #FFFFFF;
  background: #fbf8ec;
  background: -moz-linear-gradient(top, #FFFFFF 35%, #4e6773 100%);
  background: -webkit-linear-gradient(top, #FFFFFF 35%, #4e6773 100%);
  background: -ms-linear-gradient(top, #FFFFFF 35%, #4e6773 100%);
  background: linear-gradient(to bottom, #FFFFFF 35%, #4e6773 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; }
.presentation-subtitle {
  font-size: 1.7em;
  color: #FFFFFF; }

.page-header .content-center {
  margin-top: 85px; }

.section {
  padding: 70px 0;
  position: relative;
  background-color: #FFFFFF; }

.section-with-space {
  padding: 60px 0; }

.section-gray {
  background-color: #EEEEEE; }

/* Body_Info */
#tf-testimonials{
    background: url(../src/assets/img/hallstatt-g22b586807_1920.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    color: #ffffff;
}
#tf-testimonials .overlay{
    padding: 80px 0;
    background-attachment: fixed;
}
#testimonial {
    padding: 30px 0;
}
#testimonial .item{
    display: block;
    width: 100%;
    height: auto;
}
#testimonial .item p {
    font-weight: 400;
    margin: 30px 0;
    color: #d1d1d1;
}

/*           Font Smoothing      */
h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6, p, .navbar, .brand, a, .td-name, td, button, input, select, textarea {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-family: "Montserrat", "Helvetica", Arial, sans-serif;
  font-weight: 300; }

/* THE CARD */
.card {
  border-radius: 12px;
  box-shadow: 0 6px 10px -4px rgba(0, 0, 0, 0.15);
  background-color: #FFFFFF;
  color: #333333;
  margin-bottom: 20px;
  position: relative;
  z-index: 1;
  border: 0 none;
  -webkit-transition: transform 300ms cubic-bezier(0.34, 2, 0.6, 1), box-shadow 200ms ease;
  -moz-transition: transform 300ms cubic-bezier(0.34, 2, 0.6, 1), box-shadow 200ms ease;
  -o-transition: transform 300ms cubic-bezier(0.34, 2, 0.6, 1), box-shadow 200ms ease;
  -ms-transition: transform 300ms cubic-bezier(0.34, 2, 0.6, 1), box-shadow 200ms ease;
  transition: transform 300ms cubic-bezier(0.34, 2, 0.6, 1), box-shadow 200ms ease; 
}
  .card:not(.card-plain):hover {
    box-shadow: 0px 12px 19px -7px rgba(0, 0, 0, 0.3);
    transform: translateY(-10px);
    -webkit-transform: translateY(-10px);
    -ms-transform: translateY(-10px);
    -moz-transform: translateY(-10px); 
  }
  .card.no-transition:hover, .card.page-carousel:hover, .card.card-refine:hover, .card.card-register:hover {
    box-shadow: 0 6px 10px -4px rgba(0, 0, 0, 0.15);
    transform: none;
    -webkit-transform: none;
    -ms-transform: none;
    -moz-transform: none; }
  .card a:not(.btn) {
    color: #444444; }
    .card a:not(.btn):hover, .card a:not(.btn):focus {
      color: #333333; }
  .card .card-description {
    color: #9A9A9A;
    margin-bottom: 5px;
    margin-top: 15px; }
  .card img {
    max-width: 100%;
    height: cover;
    border-radius: 12px 12px 0 0; }
  .card[data-radius="none"] {
    border-radius: 0px; }
    .card[data-radius="none"] .header {
      border-radius: 0px 0px 0 0; }
      .card[data-radius="none"] .header img {
        border-radius: 0px 0px 0 0; }
  .card.card-plain {
    background-color: transparent;
    box-shadow: none;
    border-radius: 0; }
    .card.card-plain .card-body {
      padding-left: 5px;
      padding-right: 5px; }
    .card.card-plain img {
      border-radius: 12px; }
  .card .card-link {
    color: #FFFFFF; }
  .card .card-background-image ul li {
    color: #FFF;
    border-color: rgba(255, 255, 255, 0.3); }
  .card.card-blog,
  .card.card-testimonial .card-description + .card-title {
    margin-top: 30px; }
    .card.card-blog .card-image .img,
    .card.card-testimonial .card-description + .card-title .card-image .img {
      border-radius: 12px; }
    .card.card-blog .card-image .card-title,
    .card.card-testimonial .card-description + .card-title .card-image .card-title {
      text-align: center; }
  .card.card:not(.card-plain) .card-image .img {
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px; }
  
  .card .clearfix + .author {
    margin-top: 15px; }
  .card:hover .filter {
    opacity: .7; }
  .card:hover .header .social-line,
  .card:hover .header .actions {
    opacity: 1; }
  .card .card-category i,
  .card .label i {
    font-size: 15px; }
  .card > .card-title {
    margin: 0;
    padding: 30px 0 0; }
  .card .card-body {
    padding: 20px; }
    .card .card-body .card-title {
      margin: 5px 0 0 0; }
    .card .card-body .card-category ~ .card-title {
      margin-top: 5px; }
  .card .card-text {
    font-size: 15px;
    color: #66615b;
    padding-bottom: 15px; }
 
/* SERVICE */
.services {
  padding-bottom: 30px;
}
.section-title{
  padding: 20px 20px 10px 20px;
  text-align: center;
  text-transform: uppercase;
  color: green;
}
.services .icon-box {
  margin-top: 30px;
  text-align: center;
}
.services .icon {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 80px;
  height: 80px;
  margin-bottom: 20px;
  background: #fff;
  border-radius: 50%;
  transition: 0.5s;
  color: #428bca;
  box-shadow: 0px 0 25px rgba(0, 0, 0, 0.15);
  overflow: hidden;
}
.services .icon i {
  font-size: 36px;
  line-height: 0;
}
.services .icon-box:hover .icon {
  box-shadow: 0px 0 30px rgba(66, 139, 202, 0.5);
}
.services .title {
  font-weight: 600;
  margin-bottom: 20px;
  font-size: 18px;
  position: relative;
  padding-bottom: 20px;
}
.services .title a {
  color: #444;
  transition: 0.3s;
}
.services .title a:hover {
  color: #428bca;
}
.services .title::after {
  content: "";
  position: absolute;
  display: block;
  width: 50px;
  height: 2px;
  background: #428bca;
  bottom: 0;
  left: calc(50% - 25px);
}
.services .description {
  line-height: 24px;
  font-size: 14px;
}